### Python ###
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Environments
.env

# mypy
.mypy_cache/

# PyCharm
.idea/

### Python Patch ###
poetry.toml

# ruff
.ruff_cache/